---
import BlogGrid from "../components/partials/BlogGrid.astro";
import BlogGridFeatured from "../components/partials/BlogGridFeatured.astro";
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<Layout>
  <div
    class="grid grid-cols-1 md:grid-cols-3 grow gap-7 p-3 md:pl-0 md:pr-0 md:pt-0 pb-7"
  >
    {
      posts.map((post, i) => {
        if (i == 0) {
          return (
            <BlogGridFeatured
              {...post.data}
              href={`/posts/${post.id.split("/").pop()}`}
            />
          );
        }
        if (i == 1) {
          return (
            <BlogGrid
              {...post.data}
              href={`/posts/${post.id.split("/").pop()}`}
              span="md:row-span-2"
            />
          );
        }
        return (
          <BlogGrid
            {...post.data}
            href={`/posts/${post.id.split("/").pop()}`}
          />
        );
      })
    }
    <div class="col-span-3 h-[250px]"></div>
  </div>
</Layout>
