---

---

<div
  class={"px-5 py-4 rounded-md bg-bright border  md:col-span-2 flex flex-col items-start justify-between md:min-h-[190px] hover:brightness-75 cursor-pointer transition-all"}
>
  <div>
    <p class="text-sm text-white font-bold mb-3 uppercase">featured</p>
    <h2 class={"md:text-3xl text-2xl mb-3 font-bold text-white"}>
      Project overview - Empire Hosting
    </h2>
    <p class={"text-gray-200 md:text-lg"}>
      In this blog post, I'll go over the features and technologies used in this
      project.
    </p>
  </div>
  <p class={"mt-2 text-sm text-gray-300"}>Mar 11, 2024</p>
</div>
