---
interface Props {
  title: string;
  description: string;
  href: string;
}

const { title, description, href } = Astro.props;

import { Icon } from "astro-icon/components";
---

<a class="group cursor-pointer w-full project" href={href}>
  <div class="flex flex-row items-center justify-between">
    <div class="flex flex-row items-center justify-start gap-4">
      <h3
        class="md:text-xl font-medium text-bright group-hover:underline underline-offset-2"
      >
        {title}
      </h3>
    </div>
    <div>
      <p
        class="flex opacity-0 group-hover:opacity-100 transition-opacity italic text-sm text-dark flex-row items-center justify-start gap-1"
      >
        See More <Icon name={"right_arrow"} />
      </p>
    </div>
  </div>
  <p class="text-dark pb-3">
    {description}
  </p>
</a>

<style>
  .project {
    background-image: repeating-linear-gradient(
      90deg,
      #795757,
      #795757 10px,
      transparent 10px,
      transparent 14px
    );
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 100% 1px;
  }
</style>
