---
interface Props {
  title: string;
  description: string;
  offline?: boolean;
}

const { title, description, offline } = Astro.props;
---

<div class="border-b border-brighter group">
  <div class="flex flex-row items-center justify-start gap-4">
    <h3
      class="md:text-xl font-medium text-bright group-hover:underline underline-offset-2"
    >
      {title}
    </h3>
    {
      offline && (
        <p class="text-sm bg-brighter/50 text-bright font-normal px-4 py-1 rounded-full no-underline">
          Offline
        </p>
      )
    }
  </div>
  <p class="text-dark pb-3">
    {description}
  </p>
</div>
