---

---

<div class="space-y-4">
  <p class="text-brighter">Hello There! 👋</p>
  <h1 class="md:text-5xl text-3xl font-black text-bright">
    Let's create big things together
  </h1>
  <p class="md:w-[640px] md:text-lg text-dark">
    Hi, I'm Ido, I am a full-stack developer based in Israel. I enjoy working on
    projects that challenge me to constantly learn and improve my skills.
    Whether it's developing web applications or designing user interfaces, I
    love being part of the creative process and bringing ideas to life. I'm a
    musician at heart and love playing both the drums and guitar in my free
    time.
  </p>
</div>
