---
import { Icon } from "astro-icon/components";
---

<div
  class="px-3 md:px-0 mx-auto max-w-screen-xl flex flex-row items-center justify-between py-6 md:py-10 text-dark"
>
  <h3 class="text-lg font-semibold">Ido Geva</h3>

  <div class="flex flex-row items-center justify-center gap-7 font-semibold">
    <a href="/" class="hover:text-bright rounded px-3 py-2 w-full text-center">
      Home
    </a>
    <a
      href="#freelance"
      class="hover:text-bright rounded px-3 py-2 w-full text-center"
    >
      Blog
    </a>
    <div class="flex flex-row items-center justify-center gap-5">
      <a
        href="https://github.com/DipsDev"
        target="_blank"
        class="hover:text-bright"
      >
        <Icon name={"github"} size={28} />
      </a>
      <a
        href="https://discordapp.com/users/351023104434372608"
        target="_blank"
        class="hover:text-bright"
      >
        <Icon name={"discord"} size={28} />
      </a>
    </div>
  </div>
</div>
