---

---

<div
  class="container md:px-0 px-5 mx-auto w-full flex flex-row items-center justify-between md:justify-around pt-10 p-2"
>
  <h3 class="text-lg font-bold text-black italic">Ido Geva</h3><ul
    class="flex flex-row items-center justify-center gap-7 font-semibold text-black"
  >
    <a href="#freelance">
      <li class="hover:bg-dark-accent px-3 rounded py-1">Projects</li>
    </a>
    <a href="#blog">
      <li class="hover:bg-dark-accent px-3 rounded py-1">Blog</li>
    </a>
  </ul>
</div>
