---

---

<div class="px-3 md:px-0 mx-auto max-w-screen-xl flex flex-row items-center justify-between py-6 md:py-10 text-dark">
  <h3 class="text-lg font-semibold">Ido Geva</h3>

  <div class="grid grid-cols-2 grid-rows-1 gap-7 font-semibold">
    <a href="#freelance" class="hover:text-bright rounded px-3 py-2 w-full text-center">
      Blog
    </a>
    <a href="#blog" class="hover:text-bright rounded px-3 py-2 w-full text-center">
      Projects
    </a>
  </div>
</div>
