---
import Navbar from "../components/Navbar.astro";
import '@fontsource/fira-sans/400.css';
import '@fontsource/fira-sans/500.css';
import '@fontsource/fira-sans/600.css';
import '@fontsource/fira-sans/700.css';
import '@fontsource/fira-sans/900.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ido Geva | Portfolio</title>
	</head>
	<body>
		<Navbar />
		<main class="md:p-0 p-3 max-w-screen-xl mx-auto md:mt-[98px] flex flex-col items-start justify-center gap-10">
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #FAF8F2;
		font-family: 'Fira Sans', sans-serif;
	}
</style>
